.contenedor1{
    display: grid;
    background-color:hsl(0, 0%, 0%);
    width: auto;
    height:90px;
    text-align: center;

}
.contenedor{
    display: grid;
    background-color:#ffffff;
    width: auto;
    height:500px;
    text-align: center;
}

#caja1{
    background-color: #121111;
    width: auto;
    height:450px;
    margin-top:40px;
    margin-left:10px;
    margin-right:10px;
    border-radius:10px;
}

.imagen{
    padding-top:10px;
    width: auto;
    height: 430px;
}

.contenedor2{
    display: grid;
    background-color:hsl(0, 0%, 0%);
    width: auto;
    height: 80px;
    text-align: center;
    

}

.contenedor3{
    display: grid;
    background-color:#d1d1d1;
    width: auto;
    height:220px;
    text-align: center;
}

#calculadora{
    height: 200px;
    width: auto;
    background-color: #d1d1d1;
    padding-top: 10px;
    padding-bottom: 20px;
}
.contenedor4{
    display: grid;
    background-color:hsl(0, 0%, 0%);
    width: auto;
    height:90px;
    text-align: center;
}
h1{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#num1{
    width: 100px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#num2{
    width: 100px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#numero1{
    font-size: x-large;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: radius 5px;

}
#numero2{
    font-size: x-large;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: radius 5px;
}
#resultado{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 50px;
    font-size: larger;
    text-align: center;
    border: radius 5px;
}
label{
    color: rgb(255, 251, 251);
    background-color: rgb(0, 0, 0);
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:10px;
}
button{
    color: rgb(255, 251, 251);
    background-color: rgb(0, 0, 0);
    font-size: large;
    font-size: 25px;
    border-radius:10px;
}
